protocol bgp {{ item.name }} {
  local as {{ item.own.as }};
  source address {{ item.own.ipv6 }};
  neighbor {{ item.peer.ipv6 }} as {{ item.peer.as }};
  import all;
  {% if item.filter is defined %}
  export filter {{ item.filter }};
  {% endif %}
}
