<VirtualHost *:{{ item.apache2.port }}>
        #ServerName www.example.com
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/gw-{{ item.hoodname }}
        #LogLevel info ssl:warn
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
