auto bat-{{ item.hoodname }}

iface bat-{{ item.hoodname }} inet manual
    pre-up ip link add $IFACE type batadv
    up ip link set up dev $IFACE
    post-down ip link del $IFACE

    # iif rules
    post-up ip -4 rule add iif $IFACE prio 200 table fff
    pre-down ip -4 rule del iif $IFACE prio 200 table fff
    post-up ip -6 rule add iif $IFACE prio 200 table fff
    pre-down ip -6 rule del iif $IFACE prio 200 table fff

# IPv4
iface bat-{{ item.hoodname }} inet static
    address {{ item.ipv4.ip }}/{{ item.ipv4.net }}

    post-up invoke-rc.d dnsmasq restart
    post-up ip route replace {{ item.ipv4.sub }}/{{ item.ipv4.net }} dev $IFACE proto static table fff
    post-down ip route del {{ item.ipv4.sub }}/{{ item.ipv4.net }} dev $IFACE proto static table fff
    post-up batctl -m $IFACE gw_mode server 64000/64000

# IPv6 ULA
iface bat-{{ item.hoodname }} inet6 static
    address {{ item.ipv6.fff.ip }}/{{ item.ipv6.fff.net }}

    post-up ip -6 route replace {{ item.ipv6.fff.sub }}/{{ item.ipv6.fff.net }} dev $IFACE proto static table fff
    post-down ip -6 route del {{ item.ipv6.fff.sub }}/{{ item.ipv6.fff.net }} dev $IFACE proto static table fff

{% if item.ipv6.pub.ip is defined %}
# IPv6 Public
iface bat-{{ item.hoodname }} inet6 static
    address {{ item.ipv6.pub.ip }}/{{ item.ipv6.pub.net }}

    post-up ip -6 route add {{ item.ipv6.pub.sub }}/{{ item.ipv6.pub.net }} dev $IFACE proto static table fff
    post-down ip -6 route del {{ item.ipv6.pub.sub }}/{{ item.ipv6.pub.net }} dev $IFACE proto static table fff
    post-up ip -6 rule add from {{ item.ipv6.pub.sub }}/{{ item.ipv6.pub.net }} lookup fff prio 50
    post-down ip -6 rule del from {{ item.ipv6.pub.sub }}/{{ item.ipv6.pub.net }} lookup fff
{% endif %}

# IPv6 link local
iface bat-{{ item.hoodname }} inet6 static
    address fe80::1/64
    dad-attempts 0

    post-up ip6tables -t nat -A PREROUTING -i $IFACE -p tcp -d fe80::1 --dport 2342 -j REDIRECT --to-port {{ item.apache2.port }}
    post-up ip6tables -t nat -A PREROUTING -i $IFACE -p tcp -d fe80::fff:1 --dport 2342 -j REDIRECT --to-port {{ item.apache2.port }}

# IPv6 link local Router Advertisements
iface bat-{{ item.hoodname }} inet6 static
    address {{ item.ipv6.int.ip }}/64
    post-up invoke-rc.d radvd restart