log level error; # Log errors to stderr
log to syslog as "fff-{{ item.hoodname }}" level warn; # Log warnings to a log file
interface "fff-{{ item.hoodname }}"; # Set the interface name
method "null"; # Disable encryption
bind any:{{ item.fastd.port }}; # Bind to a fixed port, IPv4 only
secret "{{ item.fastd.secret }}"; # fastd need a key but we don't use them: generate by "fastd --generate-key"
mtu 1426;
on up "/etc/fastd/fff-{{ item.hoodname }}/up.sh";
on down "/etc/fastd/fff-{{ item.hoodname }}/down.sh";
secure handshakes no;
on verify "/etc/fastd/fff-{{ item.hoodname }}/verify.sh";
