iface fff{{ item.hoodname }} inet manual
    post-up batctl -m bat-{{ item.hoodname }} if add $IFACE
    post-up ifconfig $IFACE up
    post-up ifup bat-{{ item.hoodname }}
    post-down ifdown bat-{{ item.hoodname }}
    post-down ifconfig $IFACE down
