auto fff-{{ item.hoodname }}

iface fff-{{ item.hoodname }} inet manual
    pre-up batctl -m bat-{{ item.hoodname }} if add $IFACE
    post-down batctl -m bat-{{ item.hoodname }} if del $IFACE

    up ip link set up $IFACE
    down ip link set down $IFACE
